<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sms.mapper.contact.ContactMapper">

    <sql id="searchConditions">
        <where>
        </where>
    </sql>

    <select id="count" resultType="int">
        SELECT COUNT(1) FROM (
            SELECT 
                C.CONTACT_ID, 
                C.CONTACT_NM, 
                C.PHONE_NO, 
                C.COMPANY_NM, 
                M.GROUP_ID,
                C.REG_DT
            FROM TB_CONTACT C
            INNER JOIN TB_GROUP_CONTACT_MAP M ON C.CONTACT_ID = M.CONTACT_ID
            WHERE M.GROUP_ID = #{groupId, jdbcType=VARCHAR}
            ORDER BY C.CONTACT_ID DESC
        ) A
        <include refid="searchConditions"/>
    </select>

    <select id="selectList" resultType="com.example.sms.dto.contact.ContactVO">
        SELECT * FROM (
            SELECT A.*, ROWNUM AS RNUM FROM (
                SELECT X.* FROM (
                    SELECT 
                        C.CONTACT_ID, 
                        C.CONTACT_NM, 
                        C.PHONE_NO, 
                        C.COMPANY_NM, 
                        M.GROUP_ID,
                        C.REG_DT
                    FROM TB_CONTACT C
                    INNER JOIN TB_GROUP_CONTACT_MAP M ON C.CONTACT_ID = M.CONTACT_ID
                    WHERE M.GROUP_ID = #{groupId, jdbcType=VARCHAR}
                    ORDER BY C.CONTACT_ID DESC
                ) X
                <include refid="searchConditions"/>
            ) A WHERE ROWNUM <![CDATA[<=]]> #{offset} + #{size}
        ) WHERE RNUM > #{offset}
    </select>

    <insert id="insert">
        INSERT INTO TB_CONTACT (REG_DT) VALUES (SYSDATE)
    </insert>

    <update id="update">
        UPDATE TB_CONTACT SET MOD_DT = SYSDATE WHERE ID = #{id}
    </update>

    <delete id="delete">
        DELETE FROM TB_CONTACT WHERE ID = #{id}
    </delete>

    <select id="selectListForExcel" resultType="java.util.HashMap">
        SELECT 
            C.CONTACT_ID, 
            C.CONTACT_NM, 
            C.PHONE_NO, 
            C.COMPANY_NM, 
            M.GROUP_ID,
            C.REG_DT
        FROM TB_CONTACT C
        INNER JOIN TB_GROUP_CONTACT_MAP M ON C.CONTACT_ID = M.CONTACT_ID
        WHERE M.GROUP_ID = #{groupId, jdbcType=VARCHAR}
        ORDER BY C.CONTACT_ID DESC
        <include refid="searchConditions"/>
            ORDER BY C.CONTACT_ID DESC
    </select>

</mapper>
