<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sms.mapper.contact.ContactGroupMapper">

    <sql id="searchConditions">
        <where>
            <if test="searchKeyword != null and searchKeyword != ''">
                AND GROUP_NM LIKE '%' || #{searchKeyword} || '%'
            </if>
        </where>
    </sql>

    <select id="count" resultType="int">
        SELECT COUNT(1) FROM (
            SELECT GROUP_ID, GROUP_NM, GROUP_DESC, USE_YN, REG_ID, REG_DT
                FROM TB_CONTACT_GROUP
                ORDER BY GROUP_ID DESC
        ) A
        <include refid="searchConditions"/>
    </select>

    <select id="selectList" resultType="com.example.sms.vo.contact.ContactGroupVO">
        SELECT * FROM (
            SELECT A.*, ROWNUM AS RNUM FROM (
                SELECT X.* FROM (
                    SELECT GROUP_ID, GROUP_NM, GROUP_DESC, USE_YN, REG_ID, REG_DT
                        FROM TB_CONTACT_GROUP
                        ORDER BY GROUP_ID DESC
                ) X
                <include refid="searchConditions"/>
            ) A WHERE ROWNUM <![CDATA[<=]]> #{offset} + #{size}
        ) WHERE RNUM > #{offset}
    </select>

    <insert id="insert">
        INSERT INTO /* TODO: 테이블명 */ (REG_DT) VALUES (SYSDATE)
    </insert>

    <update id="update">
        UPDATE /* TODO: 테이블명 */ SET MOD_DT = SYSDATE WHERE ID = #{id}
    </update>

    <delete id="delete">
        DELETE FROM /* TODO: 테이블명 */ WHERE ID = #{id}
    </delete>

    <select id="selectListForExcel" resultType="java.util.HashMap">
        SELECT GROUP_ID, GROUP_NM, GROUP_DESC, USE_YN, REG_ID, REG_DT
            FROM TB_CONTACT_GROUP
        <include refid="searchConditions"/>
            ORDER BY GROUP_ID DESC
    </select>

</mapper>