<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sms.mapper.PrivacyAuditLogMapper">

    <insert id="insertAuditLog" parameterType="com.example.sms.vo.system.PrivacyAuditLogVO">
        INSERT INTO TB_PRIVACY_AUDIT_LOG (
            executor_id,
            executor_ip,
            request_url,
            action_type,
            target_data
        ) VALUES (
            #{executorId},
            #{executorIp},
            #{requestUrl},
            #{actionType},
            #{targetData}
        )
    </insert>

</mapper>