<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sms.mapper.sms.campaignSearchMapper">

    <sql id="searchConditions">
        <where>
        </where>
    </sql>

    <select id="count" resultType="int">
        SELECT COUNT(1) FROM (
            SELECT CAMPAIGN_ID, CAMPAIGN_NAME, SEND_TYPE, STATUS,
                   TOTAL_CNT, SUCCESS_CNT, FAIL_CNT, PENDING_CNT, SUCCESS_RATE
            FROM   V_SMS_STAT            
            <if test="SEND_TYPE != null and SEND_TYPE != ''">
                WHERE SEND_TYPE = #{SEND_TYPE}
            </if>
            ORDER  BY CAMPAIGN_ID
        ) A
        <include refid="searchConditions"/>
    </select>

    <select id="selectList" resultType="com.example.sms.dto.sms.campaignSearchVO">
        SELECT * FROM (
            SELECT A.*, ROWNUM AS RNUM FROM (
                SELECT X.* FROM (
                    SELECT CAMPAIGN_ID, CAMPAIGN_NAME, SEND_TYPE, STATUS,
                           TOTAL_CNT, SUCCESS_CNT, FAIL_CNT, PENDING_CNT, SUCCESS_RATE
                    FROM   V_SMS_STAT
                    
                    <if test="SEND_TYPE != null and SEND_TYPE != ''">
                        WHERE SEND_TYPE = #{SEND_TYPE}
                    </if>
                    ORDER  BY CAMPAIGN_ID
                ) X
                <include refid="searchConditions"/>
            ) A WHERE ROWNUM <![CDATA[<=]]> #{offset} + #{size}
        ) WHERE RNUM > #{offset}
    </select>

</mapper>
